body {
    background-color: lightblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.header {
    text-align: center;
}

form {
    height: 60vh;
    width: 50vw;
    background-color:lightskyblue;
    padding: 2rem;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

}

.group {
    display: flex;
    gap: 20px;
    /* we align items so that the text starts from the very beginning */
    align-items: flex-start;
}

input {
    height:25px;
    outline: 0;
    border: 0;
    border-radius: 6px;
    padding-left: 10px;
    padding-top: 5px;
}

textarea {
    outline: 0;
    border: 0;
    border-radius: 6px;
    padding-left: 10px;
    padding-top: 5px;
    resize: none;
}

.shorts {
    height: 40px;
    width: 300px;
}
.longs {
    height: 60px;
    width:300px ;
}

button {
    height: 40px;
    width: 100px;
    border-radius: 10px;
    border: 0;
    outline: 0;
}

button:hover{
    color: white;
    background-color: blue;


}